@import "config";

.navbar {
  display: flex;
  margin: auto;
  width: 44%;
  justify-content: space-evenly;
}

.buttons__button {
  display: block;

  padding: 10px 20px;
  margin: 0;

  font-family: $font-family-heading;
  font-size: 1.5rem;
  font-weight: bold;

  color: #000;
  text-align: center;
  text-decoration: none;

  transition: 0.3s ease-in-out;

  cursor: pointer;
  background-color: color(cBut);

  border: 0;
  border-radius: 15px;
  &:hover {
    background-color: color(cButHov);
  }

  &.button-active {
    background-color: color(cButAct);
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: color(cButActHov);
    }
  }
}

.lecture__button {
  display: block;
  background-color: transparent;
  padding: 10px 16px;
  margin: 0;

  font-family: $font-family-heading;
  font-size: 1rem;
  font-weight: bold;
  border: none;

  color: #000;
  text-align: center;
  text-decoration: none;

  transition: 0.3s ease-in-out;
.checkmark{
  display:inline-block;
  
  &:after{
    /*Add another block-level blank space*/
    content: '';
    display: block;
 
    /*Make it a small rectangle so the border will create an L-shape*/
    width: 3px;
    height: 6px;
 
    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid #000;
    border-width: 0 2px 2px 0;
 
    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
  }
}
  cursor: pointer;

  &.button-active {
    color: color(cButAct);
    transition: 0.3s ease-in-out;
    &:hover {
      color: color(cButActHov);
    }
  }
}
