@import "config";

.buttons__button {
  display: block;

  padding: 10px 16px;
  margin: 0;

  font-family: $font-family-heading;
  font-size: 1rem;
  font-weight: bold;

  color: #000;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  background-color: color(cBut);

  border: 0;
  border-radius: 15px;

  &:hover {
    background-color: color(cButHov);
  }

  &.button-active {
    background-color: color(cButAct);
    &:hover {
      background-color: color(cButActHov);
    }
  }
}
