$max-width: 1200px;
$gutter: 20px;
$baseFontSize: 16px;
$mainWidth: 100%;
// Font-families
$font-family-body: "Lora", "Times New Roman", serif;
$font-family-heading: "Roboto Mono", "Courier New", monospace;