@import "config";
// Styles for fyrirlestur.html page

.lecelem {
  
}

.youtube {
  width: 600px;
  height: 400px;
}

.text {
  margin: 10px;
}

.quote {
  background-color: color(cBut);
}

.image {
}

.heading {
}

.list {
}

.code {
}
