@import "config";

// ALL THE STYLES APPLIED ACROSS THE PAGES ARE HERE
// Colors for the project
$colors: (
  cBlack: #000,
  cGrayHov: #999,
  cGray: #aaa,
  cHeaderLI: #ccc,
  cBut: #2d2,
  cButHov: #1a1,
  cSome: #fcffd2,
  cPink: #cc9694
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
// Base font
$baseFontSize: 16px;
$mainWidth: 100%;
// Font-families
$font-family-body: "Lora", "Times New Roman", serif;
$font-family-heading: "Roboto Mono", "Courier New", monospace;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-family-body;
  font-size: 24px;
}

main {
  width: 1200px;
}

img {
  /* stylelint-disable-line */
  max-width: 100%;
}

// TODO import
.header {
  font-family: $font-family-heading;
  width: max-width;
  margin-bottom: 40px;
}

.header__text {
  vertical-align: middle;
  line-height: 70px;

  h1 {
    font-size: 48px;
    text-align: center;
  }
  h3 {
    font-size: 16px;
    text-align: center;
  }
}

.header__img {
  background-image: url("/img/header.jpg");
  height: 25vh;
  background-position: center;
  background-repeat: no-repeat;
  //background-size: cover;
  //position: relative;
}

.navbar {
  display: flex;
  margin: auto;
  width: 33.3333%;
  justify-content: space-evenly;
}

@import "button.scss";
