@import "config";

// ALL THE STYLES APPLIED ACROSS THE PAGES ARE HERE
// Colors for the project
$colors: (
  cBlack: #000,
  cBut: #ccc,
  cButHov: #999,
  cHeaderLI: #aaa,
  cButAct: #2d2,
  cButActHov: #1a1,
  cSome: #fcffd2,
  cPink: #cc9694
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
// Base font
$baseFontSize: 16px;
$mainWidth: 100%;
// Font-families
$font-family-body: "Lora", "Times New Roman", serif;
$font-family-heading: "Roboto Mono", "Courier New", monospace;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-family-body;
  font-size: 24px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1200px) {
  main {
  padding-left: 0px;
  padding-right: 0px;
  }
}

img {
  /* stylelint-disable-line */
  max-width: 100%;
}

// TODO import
.header {
  font-family: $font-family-heading;
  margin-bottom: 40px;
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 48px;
    text-align: center;
  }
  h3 {
    font-size: 16px;
    text-align: center;
  }
}

.header__img {
  display: flex;
  justify-content: center;
  background-image: url("/img/header.jpg");
  height: 25vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //position: relative;
}

.navbar {
  display: flex;
  margin: auto;
  width: 34%;
  justify-content: space-evenly;
}

<<<<<<< HEAD

.list {
=======
.page__cards {
>>>>>>> 4564d0f64046f5ca20691a3f3933e02dceb57fff
  margin: 0 auto;
  max-width: 1200px;

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px auto;
    margin-left: -10px;
    margin-right: -10px;
  }
  .card {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 100%;
  }

  @media (min-width: 501px) {
    .card {
      width: 50%; 
    } 
  }
  @media (min-width: 1001px) {
    .card {
      width: 33.33333%; 
    } 
  }

  .listItem {
    display: flex;
    flex-direction: column;
    text-decoration: none;
<<<<<<< HEAD
    justify-content: center;
=======
    width: 100%;
    background-color: #ccc;
>>>>>>> 4564d0f64046f5ca20691a3f3933e02dceb57fff
    color: color(cBlack);

    &__image {
      height: 100%;
    }

  }
}

.listItem__text {
  background-color: color(cBut);
  font-family: $font-family-heading;

  h2 {
    font-size: 32px;
    word-wrap: break-word;
  }
  span {
    font-size: 16px;
  }
}

@import "button.scss";
@import "lectureCard.scss";
